@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.wrapper{
   position:fixed; 
    top:0;
   z-index: 1000;
   font-family:$font-main;
}

.add_node_container{
    position: relative;
    width: 300px;
    height: 100vh;
    background-color: $pannel-bg;
    box-shadow: $pannel-shadow;
}

.header{
    padding-top: 30px;
    font-weight: bold;
    color: $panel-main-title-color;
}

.node_list{
    h3{
        color: $panel-list-title-color; 
    }
    ul{
        padding: 0;
    }
    li{
        list-style: none;
    }
    button{
        @include settings-btn;
        
    }
}

