$pannel-btn-bg : rgb(150, 182, 192);
$pannel-bg:rgb(247, 247, 247);

$panel-main-title-color: rgb(114, 114, 114);
$panel-list-title-color:rgb(118, 156, 189);

$pannel-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$font-main:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


